<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor</title>
    <link href="index.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="panel">
        <div class="header">
            <img src="header.png">
        </div>
        <div class="polotno">
            <canvas id="botpanel" width="480px" height="300px"></canvas>
        </div>
        <div id="pnl">

        </div>
    </div>

</div>
<script>
    var panel = document.getElementById("pnl");


</script>
</body>
</html>